body {
  background: black;
}

h1 {
  color: white;
}

.center {
  text-align: center;
}
.team1 {
  text-align: right;
}
.team2 {
  text-align: left;
}
.score {
  border: 10px red;
  margin: 10%;
  font-size: 10vw;
}

.btn {
  margin: 2%;
}
